.main__container {
  height: 100%;
  width: 100%;
}

.content__container {
  display: flex;
  justify-content: center;
}

.main__container-input {
  margin-top: 30vh;
  width: 35rem;
}

.search-form-field {
  width: 100%;
}

