.DS_Store
/scholarly/.DS_Store
.idea
*.iml
target/
Services/URLMetadata/node_modules
Services/URLMetadata/package-lock.json
Services/UserInterface/package-lock.json
Services/UserInterface/package-lock.json
