<div class="full-height-full-width">
  <sato-main-menu-bar></sato-main-menu-bar>
  <div class="full-height-full-width">
    <form class="login-form full-height-full-width centered">
      <mat-form-field class="half-width">
        <input matInput placeholder="Email">
      </mat-form-field>

      <mat-form-field class="half-width">
        <input matInput type="password" placeholder="Password">
      </mat-form-field>

      <div class="login-form-buttons half-width">
        <button mat-stroked-button>Login</button>
        <button mat-stroked-button class="centered" (click)="authService.githubAuth()">
          <img src="https://icons-for-free.com/iconfiles/png/128/coding+development+github+programming+website+icon-1320168263506646852.png"
              height="25" width="25">
          Github Login
        </button>
      </div>
    </form>
  </div>
</div>
