.login-form {
  display: flex;
  flex-direction: column;
}

.login-form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.login-form-buttons > button {
  margin: 0.2em;
}
