
.container {
    margin-top: 25px;
    margin-bottom: 45px;
}

.interests-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.classy {
    max-height: 60vh;
    overflow: scroll;
}
