
.container {
    margin-top: 25px;
    margin-bottom: 45px;
}

.interests-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.classy {
    max-height: 60vh;
    overflow: scroll;
}

.interests-add-group {
    display: flex;
}

.add-interests-action {
    margin-left: 10px;
    max-height: 36px;
    align-self: flex-end;
}

.interests-add-input {
    flex-grow: 2;
}
