<sato-main-menu-bar></sato-main-menu-bar>
<div class="container">
    <mat-card>
        <mat-card-title>Your interests</mat-card-title>
        <mat-card-content>
            <div class="form-group interests-add-group">
                <div class="interests-add-input">
                    <ng-multiselect-dropdown [data]="topics"
                                             name="topicsSelect"
                                             [(ngModel)]="newInterests"
                                             [settings]="multiSelectSettings"
                                             [placeholder]="'Add topics of interest...'">
                    </ng-multiselect-dropdown>
                </div>
                <button mat-raised-button color="primary" class="add-interests-action" (click)="addInterest()">Add selected interests</button>
            </div>
            <mat-list class="classy">
                <mat-list-item *ngFor="let interest of interests; let i = index;">
                    <div class="interests-item">
                        <span>{{interest}}</span>
                        <button mat-raised-button color="accent" (click)="deleteInterestsAt(i)">Delete</button>
                    </div>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="setUserInterests()">Save</button>
        </mat-card-actions>
    </mat-card>

</div>

