<div class="main__container">
    <sato-main-menu-bar showSearch="true" [searchInputValue]="searchContent"></sato-main-menu-bar>
    <div class="main__content">
        <mat-card class="smaller-padding" *ngFor="let resource of trackedResources">

            <ngx-link-preview [apiRoute]="'http://localhost:3050'"
                              [getApiEndpoint$]="apiCallbackFn"
                              [links]="[resource.url]"
                              [showLinkUrl]="true"
                              [useHtmlLinkDefaultClickEvent]="true"
            ></ngx-link-preview>
        </mat-card>

<!--        <mat-card class="smaller-padding">-->


<!--            <ngx-link-preview [apiRoute]="'http://localhost:3050'"-->
<!--                              [getApiEndpoint$]="apiCallbackFn"-->
<!--                              [links]="['https://github.com/zero-functional/zero-functional']"-->
<!--                              [showLinkUrl]="true"-->
<!--                              [useHtmlLinkDefaultClickEvent]="true"-->
<!--            ></ngx-link-preview>-->
<!--        </mat-card>-->

<!--        <mat-card class="smaller-padding">-->


<!--            <ngx-link-preview [apiRoute]="'http://localhost:3050'"-->
<!--                              [getApiEndpoint$]="apiCallbackFn"-->
<!--                              [links]="['https://github.com/satwikkansal/wtfpython/blob/master/README.md']"-->
<!--                              [showLinkUrl]="true"-->
<!--                              [useHtmlLinkDefaultClickEvent]="true"-->
<!--            ></ngx-link-preview>-->
<!--        </mat-card>-->

<!--        <mat-card class="smaller-padding">-->


<!--            <ngx-link-preview [apiRoute]="'http://localhost:3050'"-->
<!--                              [getApiEndpoint$]="apiCallbackFn"-->
<!--                              [links]="['https://rubikscode.net/2019/12/23/ultimate-guide-to-deep-q-learning-with-tf-agents/']"-->
<!--                              [showLinkUrl]="true"-->
<!--                              [useHtmlLinkDefaultClickEvent]="true"-->
<!--            ></ngx-link-preview>-->
<!--        </mat-card>-->

<!--        <mat-card class="smaller-padding">-->


<!--            <ngx-link-preview [apiRoute]="'http://localhost:3050'"-->
<!--                              [getApiEndpoint$]="apiCallbackFn"-->
<!--                              [links]="['http://mfadhel.com/rest-message-queue/']"-->
<!--                              [showLinkUrl]="true"-->
<!--                              [useHtmlLinkDefaultClickEvent]="true"-->
<!--            ></ngx-link-preview>-->
<!--        </mat-card>-->

<!--        <mat-card class="smaller-padding">-->


<!--            <ngx-link-preview [apiRoute]="'http://localhost:3050'"-->
<!--                              [getApiEndpoint$]="apiCallbackFn"-->
<!--                              [links]="['https://www.dataengineeringpodcast.com/materialize-streaming-analytics-episode-112/']"-->
<!--                              [showLinkUrl]="true"-->
<!--                              [useHtmlLinkDefaultClickEvent]="true"-->
<!--            ></ngx-link-preview>-->
<!--        </mat-card>-->

    </div>
</div>
