.preview-theme {
  background-color: rgba(0, 0, 0, 0);
}

.smaller-padding {
    padding: 8px;
    border-radius: 15px;
    box-shadow: #a9a9a9 4px 4px 13px;
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Usage
.main__content {
  margin-top: 2rem;
  width: 940px;
  @include center-block ;

  .mat-card {
    margin-bottom: 2rem;
  }
}
