<div class="main__container">
    <sato-main-menu-bar showSearch="true" [searchInputValue]="searchContent"></sato-main-menu-bar>
    <div class="main__content">
        <mat-card class="smaller-padding" *ngFor="let resource of trackedResources">

            <ngx-link-preview [apiRoute]="'http://127.0.0.1:3050'"
                              [getApiEndpoint$]="apiCallbackFn"
                              [links]="[resource.url]"
                              [showLinkUrl]="true"
                              [useHtmlLinkDefaultClickEvent]="true"
            ></ngx-link-preview>
        </mat-card>
    </div>
</div>
