<mat-toolbar>
    <span class="logo-area">
        <a [routerLink]="'/'">
            <img class="logo" src="assets/images/logo.png" alt="SATO logo"/>
        </a>
    </span>

    <span class="search-area" *ngIf="showSearch">
        <sato-reactive-input [inputValue]="searchInputValue"></sato-reactive-input>
    </span>

    <span class="example-spacer"></span>

    <div class="menu">
        <div *ngIf="!authService.credentials" (click)="authService.githubAuth()">
            <div class="menu-item" title="Login with Github">
                <img src="https://icons-for-free.com/iconfiles/png/128/coding+development+github+programming+website+icon-1320168263506646852.png"
                    height="25" width="25">
                Github Auth
            </div>
        </div>

        <div *ngIf="!!authService.credentials">
            <div class="menu-item">
                <img class="profile-picture"
                     src="{{ authService.credentials.user.photoURL }}"
                     alt="" height="25" width="25"/>
                <span>{{ authService.credentials.additionalUserInfo.username }}</span>
                <mat-icon (click)="authService.signOut()" class="logout-button" title="Logout">logout</mat-icon>
            </div>
        </div>

        <div>
            <div class="menu-item" [routerLink]="'/catalog'">
                <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/catalog-4-375731.png"
                     alt="" height="25" width="25">
                Catalog
            </div>
        </div>

        <div>
            <div class="menu-item" [routerLink]="'/'">
                <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/home-1702-887572.png"
                     alt="" height="25" width="25">
                Home
            </div>
        </div>
    </div>
</mat-toolbar>
