.example-spacer {
  flex: 1 1 auto;
}

.authentication-area {
  display: flex;
  align-items: center;
  color: #147EFB;
}

.authentication-area > * {
  margin: 3px;
  font-size: 16px;
  font-family: "Comic Sans MS", serif;
}

.logo-area {
  display: flex;
}

.logo {
  max-width: 4rem;
}

.search-area {
  margin-left: 1rem;
  width: 30rem;
}

.search-area > mat-form-field {
  width: 100%;
}

.github-login-button {
    background-color: #bfb9b9;
    color: black;
}

.logout-button {
    color: #de1313;
}

.profile-picture {
    border-radius: 50%;
}
