.advanced-search {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.advanced-search > form {
    width: 45vw;
}

.advanced-search > .results-list {
    width: 85%;
}

.advanced-search > * {
    margin-top: 3vw;
}

.right-date-picker {
    margin-left: 15px;
}

.advanced-search > form > button {
    margin-right: 3px;
    margin-left: 3px;
}
