<sato-main-menu-bar></sato-main-menu-bar>

<div class="full-height-full-width">
    <div class="advanced-search container">
        <form>
            <div class="form-group">
                <label for="pattern">Pattern</label>
                <input type="text" class="form-control" id="pattern" name="pattern" [(ngModel)]="searchedPattern">
            </div>

            <div class="form-group">
                <label for="resourceTypes">Resource Types</label>
                <ng-multiselect-dropdown id="resourceTypes"
                                         name="resourceTypes"
                                         [data]="resourceTypes"
                                         [settings]="multiSelectSettings"
                                         [(ngModel)]="selectedResourceTypes"
                                         [placeholder]="'Choose resource types of interest...'">
                </ng-multiselect-dropdown>
            </div>

            <div class="form-group">
                <label for="includedTopics">Included topics</label>
                <ng-multiselect-dropdown [data]="topics"
                                         id="includedTopics"
                                         name="topicsSelect"
                                         [(ngModel)]="selectedTopics"
                                         [settings]="multiSelectSettings"
                                         [placeholder]="'Choose topics of interest...'">
                </ng-multiselect-dropdown>
            </div>

            <div class="form-group">
                <label for="excludedTopics">Excluded topics</label>
                <ng-multiselect-dropdown [data]="topics"
                                         id="excludedTopics"
                                         name="topicsExclusionSelect"
                                         [(ngModel)]="excludedTopics"
                                         [settings]="multiSelectSettings"
                                         [placeholder]="'Choose topics to exclude...'">
                </ng-multiselect-dropdown>
            </div>

            <div class="form-group">
                <label for="programmingLanguage">Programming language</label>
                <ng-multiselect-dropdown id="programmingLanguage"
                                         [data]="programmingLanguages"
                                         name="programmingLanguageSelect"
                                         [settings]="multiSelectSettings"
                                         [(ngModel)]="selectedProgrammingLanguages"
                                         [placeholder]="'Choose programming languages of interest...'">
                </ng-multiselect-dropdown>
            </div>

<!--            <div class="form-group">-->
<!--                <label for="language">Language</label>-->
<!--                <ng-multiselect-dropdown id="language"-->
<!--                                         [data]="languages"-->
<!--                                         name="languageSelect"-->
<!--                                         [(ngModel)]="selectedLanguages"-->
<!--                                         [settings]="multiSelectSettings"-->
<!--                                         [placeholder]="'Choose results language...'">-->
<!--                </ng-multiselect-dropdown>-->
<!--            </div>-->

            <div class="form-group">
                <label for="platform">Platform</label>
                <ng-multiselect-dropdown id="platform"
                                         [data]="platforms"
                                         name="platformSelect"
                                         [(ngModel)]="selectedPlatforms"
                                         [settings]="multiSelectSettings"
                                         [placeholder]="'Choose platforms of interest...'">
                </ng-multiselect-dropdown>
            </div>

            <div>
                <mat-form-field>
                    <input matInput [matDatepicker]="startDatePicker" placeholder="Start date">
                    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #startDatePicker></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="right-date-picker">
                    <input matInput [matDatepicker]="endDatePicker" placeholder="End date">
                    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #endDatePicker></mat-datepicker>
                </mat-form-field>
            </div>

            <button type="submit" class="btn btn-primary" (click)="submitSearch()">Submit</button>

            <button class="btn btn-outline-danger" (click)="resetFilters()">Reset Filters</button>
        </form>

        <sato-infinite-load [loadingMessage]="'Loading results...'"
                            [loading]="loadingResults">
        </sato-infinite-load>

        <sato-paginated-results-list *ngIf="toggledSearch && !loadingResults"
                                     [onPageChange]="collectResourcePage"
                                     [totalResources]="totalResults"
                                     [resourceType]="'Resource'"
                                     [resources]="searchResults"
                                     class="results-list"
                                     [page]="page">
        </sato-paginated-results-list>
    </div>
</div>
