.main__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.resource-list {
    width: 75%;
    height: 80%;
    display: flex;
    justify-content: center;
}

.resource-list > .search-input {
    width: 70%;
}

.resource-list > .resource {
    width: 90%;
}
