.main__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 35px;
    font-weight: bold;
    color: darkorange;
    padding-left: 30px;
}

.resource-list {
    width: 75%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.resource-list > .search-input {
    width: 70%;
}

.resource-list > * {
    font-family: "Comic Sans MS", serif;
}

.resource-list > sato-paginated-results-list {
    width: 90%;
}
