<sato-main-menu-bar></sato-main-menu-bar>

<div class="title">
    {{ resourceType | wordPluralizer }} ({{ totalResources }})
</div>

<div class="main__container full-height-full-width">
    <div class="resource-list">
        <mat-form-field *ngIf="!loading" class="search-input">
            <input matInput
                   [(ngModel)]="filterOptions.filters.pattern"
                   (keydown.enter)="search()"
                   placeholder="Search by pattern..."
                   [ngModelOptions]="{standalone: true}">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <sato-infinite-load [loadingMessage]="'Loading...'"
                            [loading]="loading">
        </sato-infinite-load>

        <sato-paginated-results-list *ngIf="!loading"
                                     [onPageChange]="collectPageResources"
                                     [totalResources]="totalResources"
                                     [resourceType]="resourceType"
                                     [resources]="resources"
                                     [page]="page">
        </sato-paginated-results-list>
    </div>
</div>
