/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/material.theme.css";


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-flex {
  align-items: flex-end !important;
}

.ngx-link-preview-container {
  .og-link-preview {
    background-color: white !important;
    &:hover {
    }
    .row {
      .col {
        &.preview-image {
        }
        &.text-data {
        }
        .image {
          img {
          }
        }
        .title {
        }
        .description {
        }
        .header {
          .site-name {
          }
        }
        .footer {
          .url {
          }
        }
      }
    }
  }
}

.full-width, .full-height-full-width {
  width: 100%;
}

.full-height, .full-height-full-width {
  height: 95%;
}

.width-centered, .centered {
  display: flex;
  justify-content: center;
}

.height-centered, .centered {
  display: flex;
  align-items: center;
}

.half-width {
  width: 50%;
}

body {
    background-size: 100% 100%;
    background-image: url("https://previews.123rf.com/images/vska/vska1711/vska171100095/90277851-abstract-artificial-intelligence-technology-web-background-virtual-concept.jpg");
}

.multiselect-dropdown .dropdown-btn {
    border: 1px solid #575757 !important;
}
